.page-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-evenly;
    gap: 2em;
    
    img {
      max-width: 600px;
      min-width: 300px;
    }
  }