:root {
  --fontcolor: black;
  --offwhite: rgb(239, 237, 237);
  --color: rgb(103, 98, 231);
  --error: rgba(228, 108, 108, 0.754);
  --sucess: rgba(67, 187, 95, 0.589);
}

* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.div-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-evenly;
  gap: 2em;
  
  img {
    max-width: 600px;
    min-width: 300px;
  }
}

body {
  margin: auto 0;
  min-width: 320px;
  max-width: 1500px;
  width: 100%;
  min-height: 100vh;
  padding: 1em;
  background-color: rgb(196, 192, 192);
  color: var(--fontcolor);
}